/.gradle/
/build/
/run/
artifacts/cnm-nibaru-integration-4.2.7-bge.canary63.inventory-preview+26.2.jar
artifacts/cnm-nibaru-integration-4.2.8-bge.canary64.bbb-beam-catalog+26.2.jar
artifacts/cnm-nibaru-integration-4.2.9-bge.canary65.bbb-axis-resource-runtime-fix+26.2.jar
