/.gradle/
/build/
/run/
/logs/
/artifacts/map-marker-extension-0.4.0-canary9.jar
/artifacts/map-marker-extension-icons-0.4.0-canary9.zip
/artifacts/map-marker-extension-0.4.0-canary10.jar
/artifacts/map-marker-extension-icons-0.4.0-canary10.zip
/artifacts/map-marker-extension-0.4.0-canary11.jar
/artifacts/map-marker-extension-icons-0.4.0-canary11.zip
