.gradle/
build/
logs/
run/
/artifacts/quick-stack-nearby-compat-0.1.0-canary9.jar
/artifacts/quick-stack-nearby-0.4.0-workbench-canary10.jar
/artifacts/quick-stack-nearby-0.4.0-workbench-canary11.jar
