.gradle/
logs/
run/
/artifacts/container-slot-reservations-0.1.0-canary7.jar
/artifacts/container-slot-reservations-0.1.0-canary8.jar
/artifacts/container-slot-reservations-0.1.0-canary9.jar
/artifacts/container-slot-reservations-0.1.0-canary10.jar
/artifacts/container-slot-reservations-0.1.0-canary11.jar
/artifacts/container-slot-reservations-0.1.0-canary12.jar
/artifacts/container-slot-reservations-0.1.0-canary13.jar
/artifacts/container-slot-reservations-0.1.0-canary14.jar
/artifacts/container-slot-reservations-0.1.0-canary16.jar
/artifacts/container-slot-reservations-0.1.0-canary15.jar
/artifacts/container-slot-reservations-0.1.0-canary17.jar
/artifacts/container-slot-reservations-0.1.0-canary18.jar
/artifacts/container-slot-reservations-0.1.0-canary19.jar
