/.gradle/
/build/
/run/
/logs/
/artifacts/xaero-emf-entity-icon-compat-0.1.0-canary6.jar
/artifacts/xaero-emf-entity-icon-compat-0.1.0-canary7.jar
/artifacts/xaero-emf-entity-icon-compat-0.1.0-canary8.jar
